# Node.js
node_modules


# Dependências instaladas automaticamente
package-lock.json

# Configuração de ambiente
.env

# Build do front-end
dist/
dist-ssr/

# Logs e arquivos de debug
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Configurações do editor
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
